.main-timer{
    border-bottom: 1px solid #ccc;
    padding: 10px 0 16px 0;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

.main-question{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px;
    .question{
        border: 1px solid green;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover{
            color: palevioletred;
        }
    }
}