.main-timer{
   border-bottom: 1px solid #ccc;
   padding: 10px 0 16px 0;
   text-align: center;
   font-size: 25px;
   font-weight: 600;
}

.main-question{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px;
    .question{
        border: 1px solid green;
        border-radius: 50%;
        padding: 5px 10px;
        height: 40px;
        width: 40px;
        display: flex;
        text-align: center;
        justify-content: center;
        cursor: pointer;

        &:hover{
            color: purple;
        }
    }
}